click
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Flask-WTF
Flask-Migrate
Flask-APScheduler
Jinja2
MarkupSafe
Werkzeug
SQLAlchemy
python-dotenv
email-validator
Pillow
alembic
itsdangerous
python-dateutil
psycopg2-binary
